In [5]:
import pandas as pd

In [6]:
people = {
    'first' : ['Shah', 'Shah', 'Kawser'],
    'last' : ['Newaz', 'Waliullah', 'Rana'],
    'email' : ['demo1@mail.com', 'demo2@mail.com', 'demo3@mail.com']
}

In [7]:
df = pd.DataFrame(people)

In [8]:
df

    first       last           email
0    Shah      Newaz  demo1@mail.com
1    Shah  Waliullah  demo2@mail.com
2  Kawser       Rana  demo3@mail.com

In [9]:
filt = df['first'] == 'Shah'

0     True
1     True
2    False
Name: first, dtype: bool